<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <h2>Events (coming)</h2>
      </section>
    </aside>
    <div class="span8">
        <iframe width='100%' height='550px' frameBorder='0' src='https://a.tiles.mapbox.com/v3/simonc22.gp5cl59l/mm/zoompan,zoomwheel.html?secure=1#2/-7.0/130.8'></iframe>
    </div>
  </div>
<% else %>
  <div class="center hero-unit">
    <h1>The Little History Project</h1>

    <h2> Piecing together the events that shaped history.</h2>

    <%= link_to "Sign up now!", signup_path,
                                class: "btn btn-large btn-primary" %>
  </div>

  <div class="center hero-unit">

  <%= link_to image_tag("old_map.jpg", alt: "map_image") %>

    </div>

<% end %>