<li>
    <%= link_to country.name, country %>
  <% if current_user.admin? %>
    | <%= link_to "delete", country, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li>